.dark {
  background-color: var(--rt-c-bg-alt);
}

.release-timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--rt-c-bg);
  min-height: 100vh;

  .header {
    text-align: center;
    margin-bottom: 1rem;

    h1 {
      color: var(--rt-c-text-2);
      margin-bottom: 0.9rem;
    }

    a {
      width: fit-content;
      display: block;
      margin: auto;
      text-decoration: none;

      .github-link {
        display: flex;
        border: 1px solid var(--rt-c-border);
        border-radius: 0.3rem;
        padding: 8px;
        width: fit-content;
        color: var(--rt-c-text-2);
        font-size: 0.9rem;
        font-weight: 600;
        transition: color 0.3s ease-in-out;

        .github-icon {
          margin-right: 0.6em;
          display: flex;
        }

        &:hover {
          color: var(--rt-c-text-1);
        }

      }
    }
  }

  .timeline {
    .timeline-record {
      padding-bottom: 0.75rem;
      padding-top: 0.75rem;
      justify-content: center;
      align-items: center;
      min-height: 24px;
      display: flex;
      position: relative;
      opacity: 0.2;
      transition: opacity 1.2s ease;

      .line {
        background-color: var(--rt-c-text-3);
        flex-shrink: 0;
        width: 0.125rem;
        height: 100%;
        margin-left: -1px;
        top: 0;
        left: 50%;
        right: 50%;
        position: absolute;
      }

    }
  }
}

.release-timeline .mobile-only {
  display: none;
}

@media screen and (max-width: 440px) {
  .release-timeline {
    .mobile-only {
      display: initial;
    }

    .not-mobile-only {
      display: none;
    }
  }

  .issues {
    margin-left: -20px;
  }

  .left .issues {
    margin-right: -20px;
    text-align: right;
  }
}