a {
  text-decoration: none;
  color: var(--rt-c-brand-1);
}

.release-timeline .issues h1,
.release-timeline .issues h2,
.release-timeline .issues h3,
.release-timeline .issues h4,
.release-timeline .issues h5,
.release-timeline .issues h6 {
  margin: 7px 0 10px 0;
  border-top: none;
  padding: 0;
}

.release-timeline .issue p {
  margin: 5px 0 3px 0;
  line-height: .9rem;
}

.release-timeline .commits .issue p,
.release-timeline .pulls .issue p {
  margin: 1px 0 0 0;
  /* line-height: .9rem; */
}

.release-timeline .issues h1 {
  font-size: 1.2rem;
}

.release-timeline .issues h2 {
  font-size: 1.05rem;
}

.release-timeline .issues h3 {
  font-size: 1rem;
}

.tab {
  text-wrap: nowrap;
  background-color: inherit;
  color: var(--rt-c-text-3);
  cursor: pointer;
  padding: 2px 5px;
  text-align: left;
  border: solid 1px var(--rt-c-border);
  border-radius: 3px;
  transition: 0.4s;
  margin: 7px 7px 0 0;
  font-size: 0.7rem;
  text-transform: lowercase;
  letter-spacing: 0.3px;
  font-weight: 400;
  line-height: 0.8rem;

  &.active,
  &:hover {
    color: var(--rt-c-text-2);
    border-color: var(--rt-c-text-2);
    background-color: var(--rt-c-bg-alt)
  }
}

.issues {
  padding-top: 5px;
  background-color: var(--rt-c-bg-issues);
  overflow: hidden;
  max-height: 0;
  /* transition: all 0.5s cubic-bezier(0, 1, 0, 1); */
  transition: max-height 0.6s ease-in-out, opacity 0.4s ease-in-out;

  section {
    opacity: 0;
    display: none;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;

    &.open {
      opacity: 1;
      display: block;
      transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }
  }

  .issue {
    font-size: 0.8rem;
    letter-spacing: -0.3px;
    color: var(--rt-c-text-2);
    line-height: 0.8rem;
    display: block;
    border-style: dashed;
    border-width: 1px;
    padding: 3px 4px;
    border-color: var(--rt-c-border);
    margin-top: 5px;
    font-weight: 400;
  }
}